<!DOCTYPE html>
<html lang='en-us'>
	<head>
		<title>Choongryul Yang</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Choongryul Yang">
		<meta name="keywords" content="economics, choongryul, yang, ut austin, econ, research, academics,  job, market, teaching, academic, macroeconomics, macro, university">
		<meta property="og:title" content="Choongryul Yang" />
		<meta property="og:site_name" content="Choongryul Yang"/>
		<meta property="og:image" content="https://s.graphiq.com/sites/default/files/2307/media/images/White_430113_i0.png" />
		<meta property="og:description" content="Academic website"/>
		<link rel="shortcut icon" href="img/yale.ico">

		<!-- Bootstrap Core CSS -->
		<link href="bootstrap.css" rel="stylesheet">
		<!-- Custom CSS -->
		<link href="style.css" rel="stylesheet">
		<!-- Custom Fonts -->
		<script defer src="fontawesome-all.js"></script>
	<!--     <link href="octicons/octicons.css" rel="stylesheet" type="text/css">
	 -->

	<!-- <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	 -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet">

	</head>


	<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

		<!-- Navigation -->
		<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
						<i class="fas fa-bars" style="color:white"></i>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">
						<span class="light" style="color:white">
						<i class="fas fa-home color" style="color:white" aria-hidden="true"></i>
						Choongryul Yang
						</span>
					</a>

				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="nav navbar-nav">
						<!-- Hidden li included to remove active class from about link when scrolled up past about section -->

	<!--                <li>
							<a class="page-scroll" href="#page-top">  contacts</a>
						</li> -->

						<li>
							<a class="page-scroll" href="#research" style="color:white; font-size:120%">  Research</a>
						</li>
						<li>
							<a class="page-scroll" href="#resume" style="color:white; font-size:120%">   CV</a>
						</li>
	<!--                     <li>
							<a class="page-scroll" href="#teaching" style="color:white; font-size:120%"> teaching (offline)</a>
						</li>
	 -->                  
						<!-- <li>
							 <a class="page-scroll" href="https://github.com/jperego" target="_blank" style="color:white; font-size:120%; margin-left: 0px"> <i class="fa fa-github fa-1x color" style="color:white; margin-top:0px" aria-hidden="true"></i>  </a>
						</li> -->
						<!--<li>-->
							<!--<a class="page-scroll" href="#about"><i class="fa fa-user fa-lg"></i> Contacts</a>-->
						<!--</li>-->

					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container -->
		</nav>
		
	  {{ content }}

 
  </body>

</html>
